* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

/* Global Classes*/

/*---------------navbar---------------*/
nav {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 80px;
  z-index: 100;
}

.logo {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 20px;
  left: 50px;
}

.menu {
  position: absolute;
  top: 20px;
  right: 50px;
}

.menu a {
  clear: right;
  text-decoration: none;
  margin: 0 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
}

.menu .episodios:hover {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #00f3bb;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: line-through;
}

.menu .episodios:active {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: rgb(6, 10 , 36);
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

.menu-icon {
  font-size: 26px;
  display: none;
}
.menu-btn {
  display: none;
}
/*---------------------------------*/

/*SECCION TITULO*/
.principal {
  position: relative;
  margin: 180px 200px 0 200px;
}
.h1desktop {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 64px;
  color: #060a24;
  letter-spacing: 0;
  font-weight: 500;
}

h1 span {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 64px;
  color: #0000ec;
  letter-spacing: 0;
}
.pdesktop {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 220px;
}
.pmobile {
  display: none;
}
.h1movile {
  display: none;
}

button a {
  text-decoration: none;
}
.conoce {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  width: 226px;
  height: 56px;
  background-color: #00f3bb;
  margin-top: 60px;
  font-weight: bolder;
}

.conoce:hover {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}
/*---------------------------------*/

/* SECCION EPISODIOS */
.seccion-episodios {
  position: relative;
}

.fondo {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  width: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  height: 900px;
  z-index: 0;
  position: absolute;
  top: 150px;
}

.h2episodios {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: lighter;
  padding-top: 200px;
  padding-left: 200px;
  position: relative;
  z-index: 5;
}

iframe{
  width: 90%;
}
.iframe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-left: 50px;
}
.individual {
  width: 584px;
  margin-top: 50px;
}
/*---------------------------------*/

/*SECCION DE DONDE VENIMOS*/

.phone-img {
  z-index: 10;
  top: 60px;
  position: relative;
  width: 458px;
  height: 660px;
  margin-left: 220px;
}

.venimos {
  margin: 250px 100px 20px 50px;
  text-align: left;
}

.seccion-nosotros {
  display: flex;
  flex-direction: row;
}

.nosotros-desktop {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060a24;
  letter-spacing: 0;
  font-weight: lighter;
}
.nosotros-pdesktop {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 20px;
}

.nosotros-movile {
  display: none;
}

.nosotros-pmovile {
  display: none;
}
/*---------------------------------*/

/*SECCION INVITADAS*/

.titulo-invitadas {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060a24;
  letter-spacing: 0;
  margin-top: 130px;
  margin-left: 200px;
  font-weight: lighter;
}
.invitadas {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

img {
  width: 33%;
}

.titulo-invitadas-movile {
  display: none;
}
/*---------------------------------*/

/*SECCION TOPICOS*/

.titulo-topicos {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060a24;
  letter-spacing: 0;
  margin: 70px 200px 0 200px;
  font-weight: lighter;
}

.topicos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.topico {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  margin: 60px 40px;
}

.topico img {
  width: 104px;
  height: 104px;
}

.topico p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  font-weight: bolder;
}
.titulo-topicos-movile {
  display: none;
}
/*---------------------------------*/

/*seccion-novedades*/

.fondo-novedades {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 80%;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  margin-top: 0;
  }

svg {
  position: relative;
  top: 0;
  width: 100%;
  height: 15vw;
}

.seccion-novedades {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 11;
  padding-top: 180px;
  padding-bottom: 180px;
}
.h6-novedades {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: lighter;
}
.escucha {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: #060a24;
  text-align: center;
  line-height: 24px;
  width: 300px;
  height: 56px;
  background-color: #00f3bb;
  margin-top: 50px;
  
}

  .h6-novedades-movile{
display: none;
  }

/*---------------------------------*/

/*seccion-footer*/

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.texto-footer {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
  margin: 30px 0 50px 50px;
}
.item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  margin: 30px 60px 0 0;
}

i {
  width: 18px;
  height: 28px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
}
/*---------------------------------*/

@media (max-width: 768px) {
  /*-------SECCION NAV--------*/
  nav{
    margin: 0;
    display: initial;
  }

  nav .logo {
    margin: 0 0 0 -20px;
    width: 24px;
    height: 24px;
    float: left;
  }

  nav .menu {
    text-align: left;
    width: 100%;
    background-color: #0000ec;
    margin: 10px 0 0 0;
    top: 50px;
    right: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
  } 

  nav .menu-icon{
    position: relative;
    padding: 28px 20px;
    display: block;
    cursor: pointer;
    float: right;
  }

  nav .menu-icon .nav-icon{
    background: black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
  }

  nav .menu-icon .nav-icon:before{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
  }

  nav .menu-icon .nav-icon:after{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
  }

  .menu a {
    display: block;
    margin: 0;
    padding: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 28px;
  }

  nav .menu-btn:checked ~ .menu {
    max-height: 350px;
  }
  
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  /*---------------------------------*/

  /*SECCION TITULO*/

  .principal {
    margin: 100px 20px 0 20px;
  }

  .h1movile {
    display: contents;
    visibility: visible;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    line-height: 42px;
    margin-top: 200px;
  }

  h1 span {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
  }

  .pmobile {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
  }

  .h1desktop {
    display: none;
  }
  .pdesktop {
    display: none;
  }

  .conoce {
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
  }
  /*---------------------------------*/

  /*SECCION EPISODIOS */

  .fondo {
    height: 1200px;
    top: 70px;
  }

  .h2episodios {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    padding-top: 100px;
    padding-left: 20px;
    line-height: 42px;
  }

  .iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
  }
  .individual {
    margin-top: 10px;
    width: 370px;
    margin-left: 15px;
  }

  /*---------------------------------*/

  /*SECCION DE DONDE VENIMOS*/
  .seccion-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .phone-img {
    top: 40px;
    width: 360px;
    height: 519px;
    margin: 0;
  }

  .venimos {
    width: 100%;
    margin: 60px 0 10px 0;
  }

  .nosotros-movile {
    font-size: 36px;
    line-height: 42px;
    display: block;
    color: #060a24;
    font-family: "IBM Plex Sans", sans-serif;
    word-spacing: 2px;
    padding-left: 20px;
  }

  .nosotros-pmovile {
    display: block;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0 50px 20px;
    width: 100%;
    word-spacing: 8px;
    color: #060a24;
    text-align: justify;
  }

  .nosotros-desktop {
    display: none;
  }
  .nosotros-pdesktop {
    display: none;
  }

  /*---------------------------------*/
  /*SECCION INVITADAS*/

  .titulo-invitadas-movile {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    display: flex;
    padding: 0 0 0 20px;
  }
  .invitadas {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  img {
    width: 100%;
  }
  .titulo-invitadas {
    display: none;
  }
  /*---------------------------------*/

  /*SECCION TOPICOS*/

  .titulo-topicos-movile {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    padding-left: 20px;
    display: flex;
    
  }

  .topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .topico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px 0 0 0;
  }

  .topico img {
    width: 104px;
    height: 104px;
  }

  .topico p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    color: #060a24;
    letter-spacing: 0;
    text-align: center;
    padding: 10px 0 20px 0;
  }
  .titulo-topicos {
    display: none;
  }
  /*---------------------------------*/

/*seccion-novedades*/

.fondo-novedades {
 
  height: 58%;
  
}


.seccion-novedades {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 11;
  padding-top: 70px;
  padding-bottom: 100px;
}
.h6-novedades-movile {
  visibility: visible;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: white;
 text-align: center;
  font-weight: lighter;
line-height: 42px;
display: block;
}
.escucha {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  text-align: center;
  line-height: 22px;
  width: 288px;
  height: 48px;
  background-color: #00f3bb;
  margin-top: 50px;
}
.h6-novedades {
  display: none;
}

/*---------------------------------*/

/*seccion-footer*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10%;
}

.texto-footer {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0;
  word-spacing: 2px;
}

.item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 30px 0 30px 0;
}

i {
  width: 16px;
  height: 28px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
}
/*---------------------------------*/
}
